@{
    ViewData["Title"] = "How This Works";
}
<h1>@ViewData["Title"]</h1>

<p>Howdy Fresh is a site dedicated to providing local restaurants access to local suppliers, whether it be for ingredients, tools and implements, or decorations. Restaurants will be able to view a list of suppliers with different products available for purchase, along with the prices and stock for each.</p>

<h2>UPCOMING FEATURES</h2>
<p>Some features weren't able to be implemented at launch. Upcoming features will include:</p>
<p>-The ability to leave a rating and see comments about registered restaurants and suppliers</p>
<p>-A functional online method for paying the suppiers</p>
<p>-A map to visualize the distance between restaurants and suppliers</p>
<p>-A registration system that allows for logging in to see your own comments and ratings</p>
<p>-Estimated delivery time on products ordered</p>
