@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Howdy!</h1>
    <img src="https://thumbs.dreamstime.com/z/people-shaking-hands-egg-chicken-farm-handshake-business-partners-farmer-s-agreement-agriculture-agronomist-food-business-152622030.jpg" width="500"/>
    <p>
        Here at HowdyFresh, our goal is to connect local restaurants to local suppliers. You'll be able to see reviews of restaurants and supplier in the area to decide which ones would
        work best for your needs. More and more restaurants and suppliers are joining daily, so check back often to see what's available!
    </p>

</div>
