@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Looking to get supplies for your restaurant?</h1>
    <p>
        Here at Howdy Fresh, our goal is to connect your restaurant with a supplier in the local area! More and more suppliers are joining
        every day, so if you don't see what you're looking for right away, check back again soon!
    </p>
</div>
